.Container {
    display: flex;
    justify-content: center;
     max-width: 500px;
    margin: auto;
    padding: 10px;
 
}
 .mycity {
   display: flex;
    max-width: 1000px;
    padding-left : 150px ;
}
.table,td,th {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

.table {
    width: 50%;
    padding: left 150px; ;
    flex: 1;
    text-align: justify;
    margin-left: auto; 
    margin-right: auto;
    background-color: rgb(84, 109, 119);
}
    
.subject{
    
 display: flex
}

.history{
     display: flex; 
     
}
.language{
   text-align: justify;
   display: flex;
   max-width: 1000px  ;
   padding-bottom: 50px;
}

.City{
    
    max-width: 400px;
    padding-left: 150px;
   
}
.description{
    text-align: justify;
    padding: 10px;
    display: flex;
    
} 
.span{
   padding-top: 70px;
   padding-left  : 150px;
}



.spanish{
    
    padding-bottom: 20px;
    
}
.uj{
    padding-left: 150px;

}
.sub{
    padding-left: 150px;
}

.big{
    background-color: olivedrab;
}

 .qa{ 
      padding-left: 150px ;
      flex:1;

    
}
.sd{
    padding-left: 20px ;
    flex: 1;

}
   
.em{
    padding-left: 20px ;
    flex: 1;
}

.histo{
    padding-left: 150px;
}
.hector{
    display: flex;
}
.art{
    display: flex;
}
.freedom{
    display: flex;
}
@media(min-width:750px) {
    .big {
        
        background-color: aqua;
        

    }
}
@media(min-width:960px) {
    .big {
        background-color: blue;
        
    }
}

  
